* {
    margin: 0;
    padding: 0;
    border : 0;
}

html {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#world{
    position: absolute;
    height: 100vw;
    width: 100vw;
    background: #000;
    visibility: hidden;
}

#world {
    border: 0.15rem solid limegreen;
    z-index: -1;
}

#camera {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    border: 0.15rem solid black;
}