* {
    margin: 0;
    padding: 0;
    border : 0;
}

html {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

#world, #city {
    position: absolute;
    top: 2vh;
    left: 2vw;
    height: 99vw;
    width: 99vw;
    background: #000;
    visibility: hidden;
}

#world {
    border: 0.075rem solid limegreen;
    z-index: -1;
}

#city {
    background-color: inherit;
    border: 0.075rem solid limegreen;
}

#camera {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: black;
    image-rendering: pixelated;
}